* {
	box-sizing: border-box;
}

img {
  border-radius: 50%;
  max-height: 150px;
  position: relative;
}

#i_OpenSideBarBtnContainer {
  padding: 7px;
  max-width: 25px;
  display: inline-block;
  float: left;
  background-color: #333;
  z-index: 0;
}

.c_ContentTable {
  display: flex;
  flex-wrap: wrap;
}

.c_ShortIntroSideBar {
  flex: 20%;
  background-color: #f1f1f1;
  padding: 20px;
  display: inline-block;
}

.c_ShortIntroSideBar a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: inline-block;
  transition: 0.3s;
}

.c_ShortIntroSideBar a:hover {
  color: #f1f1f1;
}

.c_ShortIntroSideBar .c_CloseSideBarBtn {
  display: inline-block;
  top: 40px;
  right: 10px;
  font-size: 20px;
}

.c_OpenSideBarBtn {
  font-size: 25px;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: 0;
  float: left;
  padding-right: 10px;
  }
  

.c_OpenSideBarBtn:hover {
  background-color: #444;
}

#SideBarTop {
	display: inline-block;
	font-size: 18px;
}



.c_PicContainer {
	display: inline-block;
}
.c_MainTabsContent {
  flex: 80%; 
  background-color: white; 
  padding: 20px; 
}

